body {
    margin: 0;
    height: 100vh;
    background-image: url("images/background.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.header {
    width: screen;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.header-contents {
    width: 50vw;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
}

/* Bag the logo. It looks bad. */
/* .logo {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 3px black;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    color: white;
    background-color: black;
    font-weight: 800;
    font-size: 24pt;
    margin-left: 100px;
    text-align: center;
    align-items: center;
} */

.header-title {
    color: #0C0A3E;
    align-self: center;
    justify-self: center;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    
}

.main-content {
    width: 50vw;
    min-width: 260px;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.email-form {
    width: 20vw;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: 5px;
}

.email-input {
    width: 19vw;
    height: 5vh;
    min-width: 250px;
    min-height: 25px;
    font-size: 14pt;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.subscribe-button {
    height: 5vh;
    width: 8vw;
    min-width: 100px;
    min-height: 25px;
    margin-top: 5px;
    background-color: royalblue;
    border: none;
    border-radius: 3px;
    font-size: 12pt;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.subscribe-button:hover {
    cursor: pointer;
    background-color: #6c8ae6;
}

.unsubscribe-button {
    font-size: 9pt;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: gray;
    background: none;
    border: none;
    margin-top: 3px;
}

.unsubscribe-button:hover {
    cursor: pointer;
    color: #0C0A3E
}

.description {
    margin-left: 20px;
    width: 25vw;
    min-width: 250px;
    font-family: 'Work Sans', sans-serif;
}

.description-header {
    margin-top: 0;
}