body {
    margin: 0;
    background-image: url("images/background.jpg");
    background-size: cover;
}

.header {
    width: screen;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.header-contents {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

/* Bag the logo. It looks bad. */
/* .logo {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 3px black;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    color: white;
    background-color: black;
    font-weight: 800;
    font-size: 24pt;
    margin-left: 100px;
    text-align: center;
    align-items: center;
} */

.header-title {
    color: #0C0A3E;
    align-self: center;
    justify-self: center;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    
}