body {
    margin: 0;
    background-image: url("images/background.jpg");
    background-size: cover;
}

.header {
    width: screen;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.header-contents {
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 3px white;
    box-sizing: border-box;
    margin-left: 15px;
}

.header-title {
    color: #0C0A3E;
    align-self: center;
    justify-self: center;
    margin: auto;
}